<ion-view view-title="Powered By">
    <ion-content>
        <ion-list>
            <div class="item item-divider">Streaming and Data Powered By:</div>
            <div class="list">
                <a class="item item-icon-left" href="https://developer.spotify.com/web-api/" target="_blank">
                    <i class="icon fa fa-spotify"></i> Spotify's Awesome API
                </a>
                <a class="item item-icon-left" href="http://www.last.fm/" target="_blank">
                    <i class="icon fa fa-lastfm"></i> Last.fm's Audioscrobbler
                </a>
                
            </div>
        </ion-list>
    </ion-content>
</ion-view>
