<ion-view view-title="{{show.artistexpand_value}}">
    <ion-content>
      <div class="list card">
                <div class="wrapper">
                    <div class="item item-image">
                        <img ng-src="{{show.artist_image_medium}}" style="background-color:white;" height="200px " width="300px ">
                    </div>
                    <div class="artistinfo ">
                        <a class="artistname" href="#/app/show-detail/{{show.id}}" > {{show.artistexpand_value}}</a>
                        <div class="taggroup">
                            <a class="tags " ng-style="{'background-color': getTagColor1(show)}" data-fittext data-fittext-max="15" >
                                    {{show.lastfm_tag1}}
                                </a>
                            <a class="tags " ng-style="{'background-color': getTagColor2(show)}" data-fittext data-fittext-max="15"  >
                                    {{show.lastfm_tag2}}
                                </a>
                                <a class="tags " ng-style="{'background-color': getTagColor3(show)}" data-fittext data-fittext-max="15" >
                                    {{show.lastfm_tag3}}
                                </a>
                             
                        </div>
                    </div>
                    </a>
                    <div class="heartbuttons   ">
                        <i ng-class="{ ' ion-ios-heart': thingswithIndexfromService.indexOf(show.id)> -1, ' circlebackground ion-ios-heart-outline': thingswithIndexfromService.indexOf(show.id) === -1}" on-touch="toggleFavorite(show)"></i>
                    </div>
                    <div class="playbuttons ">
                        <i ng-class="{' icon ios ion-play': show.id !== audioObject.playing, ' icon ios ion-pause': show.id == audioObject.playing  && audioObject.currentTime > 0}" on-touch="togglePlayPause(show)"></i>
                        <ion-spinner icon="ios" ng-if="show.id == audioObject.playing && audioObject.currentTime === 0"></ion-spinner>
                    </div>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item" ng-click="openWebsite(show.facebook_link)">
                        <i class="icon ion-social-facebook"></i> Facebook
                    </a>
                    <a class="tab-item" ng-click="openWebsite(show.instagram_link)">
                        <i class="icon ion-social-instagram"></i> Instagram
                    </a>
                    <a class="tab-item" ng-click="openWebsite(show.twitter_link)">
                        <i class="icon ion-social-twitter"></i> Twitter
                    </a>
                    <a class="tab-item" ng-click="openWebsite(show.website_link)">
                        <i class="icon ion-link"></i> Website
                    </a>
                    <a class="tab-item" ng-click="openWebsite(show.spotify_artist_url)">
                        <i class="icon fa fa-spotify fa-2x"></i> Spotify
                    </a>
                </div>
        <div class="card">
            <div class="item item-divider whitedivider" ng-style="{'background-color': getTagColor1(show)}">
                Dates Playing
            </div>
            <div class="item item-icon-left caldates">
                <span class="fa-stack fa-1x">
                 <i class="fa fa-calendar-o fa-stack-2x"></i>
                 <strong class="fa-stack-1x calendar-text">{{show.unix_perfdate1 | date : 'd'}}</strong>
                </span> {{show.unix_perfdate1 | date : 'EEEE, MMMM d'}} (Time TBD)
            </div>
            <div class="item item-icon-left caldates">
                <span class="fa-stack fa-1x">
                 <i class="fa fa-calendar-o fa-stack-2x"></i>
                 <strong class="fa-stack-1x calendar-text">{{show.unix_perfdate2 | date : 'd'}}</strong>
                </span> {{show.unix_perfdate2 | date : 'EEEE, MMMM d'}} (Time TBD)
            </div>
        </div>
        <div class="card" >
            <div class="item item-divider whitedivider" ng-style="{'background-color': getTagColor2(show)}">
                Bio
            </div>
            <div class="item item-text-wrap">
                <p>{{show.lastfm_bio}} ...<a href="{{show.lastfm_biolink}}" target="_blank">read more at Last.fm</a></p>
            </div>
        </div>
        <div class="card" >
            <div class="item item-divider whitedivider" ng-style="{'background-color': getTagColor3(show)}">
                Powered By
            </div>
            <div class="item item-icon-left caldates">
                <a href="http://www.last.fm/home" target="_blank"><span>Last.FM's AudioScrobbler</span></a>
            </div>
            <div class="item item-icon-left caldates">
                <a href="https://www.spotify.com/us/" target="_blank"><span>Spotify's API and Streaming</span></a>
                </div>
            </div>
          
    </ion-content>
</ion-view>
